<div class="animated fadeIn">

  <div class="row">    
    <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Carteira de Fundos Imobiliarios
        </div>
        <div class="card-body">            
          <table class="table">
            <thead>
              <tr>
                <th>papel</th>
                <th>segmento</th>
                <th>cotacao</th>
                <th>dividend_yield</th>                
                <th>valor_de_mercado</th> 
                <th>liquidez_diaria</th>               
                <th>cap_rate</th>
                <th>vacancia_media</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fund of funds, let i = index">
                <td>{{fund.papel}}</td>
                <td>{{fund.segmento}}</td>
                <td>{{fund.cotacao}}</td>              
                <td>{{fund.dividend_yield}}</td>               
                <td>{{fund.valor_de_mercado}}</td> 
                <td>{{fund.liquidez_diaria}}</td>
                <td>{{fund.cap_rate}}</td>
                <td>{{fund.vacancia_media}}</td>
                <td>
                  <span class="badge badge-warning">Pending</span>
                </td>
              </tr>             
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
   
  </div>
  
  <!--/.row-->
</div>